.contact {
    background-color: #f2e3db;
    padding: 40px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.form-group {
    flex-basis: 100%;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    background-color: #fff;
    font-size: 1rem;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #87556f;
}

textarea {
    resize: none;
}

button[type="submit"] {
    background-color: #87556f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #663d4c;
}
